:root{
 --black: #343a40;
 --white: #edf2f4;
 --main: #326880;
 --main-dark: #1c334a;

 --aside-width: 40vw;
}
*{
 color: var(--black);
 font-family: poppins;
 margin: 0;
 padding: 0;
 border: 0;
 box-sizing: border-box;
}
body{
 display: flex;
 flex-direction: row;
 overflow-y: hidden;
 background-color: var(--white);
}
aside{
 position: relative;
 width: var(--aside-width);
 height: 100vh;
}
#logo-div{
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 gap: 10px;
 position: absolute;
 top: 20vh;
 width: 100%;
 text-align: center;
 background-color: rgb(33, 37, 41, 0.5);
 padding: 2rem;
 padding-right: 6rem;
 /* opacity: 0.5; */
}
#logo-div > h1{
 /* top: 10px; */
 font-family: 'Suburban Flamingo';
 letter-spacing: 1px;
 font-size: 70px;
 color: var(--white);
 /* opacity: 1; */
 /* z-index: 1; */
}
#logo{
 position: relative;
 top: 7px;
 width: 65px;
 height: 65px;
}
main{
 display: flex;
 flex-direction: column;
 justify-content: center;
 width: calc(100vw - var(--aside-width));
 gap: 2rem;
}
#form-div{
 display: flex;
 flex-direction: column;
 align-items: center;
 /* justify-content: center; */
 box-shadow: 0 0px 20px 0px rgb(175, 194, 201);
 background-color: #fff;
 width: 100%;
 padding: 1rem 10rem 2rem 10rem;
}
form{
 /* margin: 1rem auto 2rem auto; */
 /* width: 70%; */
 /* width: min(75%); */
 
 /* padding: 1rem 10rem 2rem 10rem; */
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-template-rows: 1fr 1fr 1fr 1fr;
 column-gap: 20px;
 row-gap: 0.8rem;
}
.full-row{
 grid-column-start: 1;
 grid-column-end: 3;
}
.input-div{
 display: flex;
 flex-direction: column;
 gap: 0.1rem;
}
label{
 /* font-family: montserrat; */
 letter-spacing: 1px;
 text-transform: uppercase;
 font-weight: 400;
}
.required{
 color: red;
}
input{
 width: auto;
 border-radius: 3px;
 border: 1px solid #ccc;
 font-size: 18px;
 height: 2.5rem;
 padding-left: 10px;
 padding: 5px 10px;
}
input:focus{
 /* transition: 0.5s; */
 outline: 1px solid var(--main);
 border: 1px solid var(--main);
 box-shadow: 0 0px 5px 1px #ccc;
}
img{
 width: 100%;
 height: 100%;
}
.pass{
 position: relative;
 display: flex;
 flex-direction: row;
 /* align-items: center; */
}
.pass > input{
 width: 100%;
}
.svg{
 position: absolute;
 right: 10px;
 top: 0;
 bottom: 0;
 margin-top: auto;
 margin-bottom: auto;
 /* right: 0; */
 /* margin: ; */
 width: 25px;
 height: 25px;

}
.svg:hover{
 cursor: pointer;
}
h1{
 align-self: center;
 font-weight: 500;
 font-size: 30px;
 margin-bottom: -10px;
 /* row-gap: 0; */
}
button{
 transition: 0.3s;
 border: 2px solid var(--main);
 background-color: var(--main);
 color: var(--white);
 border-radius: 10px;
 padding: 12.5px 0;
 width: 15rem;
 margin-left: 10rem;
 font-size: 20px;
 font-weight: 500;
}
button:hover{
 transition: 0.3s;
 border: 2px solid #254d5e;
 background-color: #254d5e;
 color: var(--white);
 cursor: pointer;
}
p{
 font-size: 18px;
 margin: 0 10rem;
}
a{
 color: var(--main);
 text-decoration: none;
}
a:hover{
 text-decoration: underline;
}